<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-tab-button class="col-2" tab="home"><ion-icon name="chevron-back-outline"></ion-icon></ion-tab-button>
      <ion-title>Progress</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card mt-4">
      <div class="card-header">
        <h4>Estadísticas diarias</h4>
      </div>
      <div class="card">
        <ion-list>
          <ion-item>
            <ion-icon name="barbell-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="playername">Entrenamiento: 0:50:00h</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="flame-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="country">Calorías: 436</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="footsteps-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="playername">Pasos: 5603</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="heart-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="country">Frecuencia cardiaca: 123</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h4>Estadística semanal</h4>
      </div>
      <div class="card">
        <ion-list>
          <ion-item>
            <ion-icon name="barbell-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="playername">Entrenamiento: 5:30:00h</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="flame-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="country">Calorías: 2293 media diaria</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="footsteps-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="playername">Pasos: 4856 media diaria</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="heart-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="country">Frecuencia cardiaca: 60 prom</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="happy-outline" style="margin-right: 10px"></ion-icon>
            <ion-label class="country">Dificultad</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="./assets/images/WhatsApp Image 2022-06-15 at 6.56.07 PM.jpeg"></ion-img>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
