<ion-header >
  <ion-toolbar color="primary">
    <div class="container">
      <ion-item color="primary">
        <ion-tab-button style="background-color: #3880ff;"color="primary" class="col-2" href="/training-page"><ion-icon name="chevron-back-outline"></ion-icon></ion-tab-button>
        <ion-title>Entrenamientos</ion-title>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  
  <ion-card style="margin-top:80px; ">
    <div style="margin-left:50px;">
    <h3 style="margin-bottom: 30px;">Seleccione los días</h3>
    <div style="display:flex;">
      <h5>Cardio</h5>
      <ion-select placeholder="Select One" style="width: 50%; margin-top:10px; margin-left:107px;">  
        <ion-select-option value="1">1</ion-select-option>  
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>  
        <ion-select-option value="4">4</ion-select-option>  
        <ion-select-option value="5">5</ion-select-option>  
        <ion-select-option value="6">6</ion-select-option>  
        <ion-select-option value="7">7</ion-select-option>  

      </ion-select>  
    </div>
    <div style="display:flex; margin-bottom: 40px;">
      <h5>Musculación</h5>
      <ion-select placeholder="Select One" style="width: 50%; margin-top:10px; margin-left:60px;">  
        <ion-select-option value="1">1</ion-select-option>  
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>  
        <ion-select-option value="4">4</ion-select-option>  
        <ion-select-option value="5">5</ion-select-option>  
        <ion-select-option value="6">6</ion-select-option>  
        <ion-select-option value="7">7</ion-select-option>  

      </ion-select>  
    </div>

    <ion-button style="width: 40%;" href="/training-page">Volver</ion-button>
    <ion-button style="width: 40%;" href="/training-cardio">Siguiente</ion-button>

  </div>
  </ion-card>
</ion-content>
