<ion-header >
  <ion-toolbar color="primary">
    <div class="container">
      <ion-item color="primary">
        <ion-tab-button style="background-color: #3880ff;"color="primary" class="col-2" tab="home"><ion-icon name="chevron-back-outline"></ion-icon></ion-tab-button>
        <ion-title>Chat</ion-title>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-4">
    <ion-list>
     <ion-item>
        <ion-label>Dr. Alfredo</ion-label>
        <ion-tab-button tab="chat-p"><ion-icon name="chevron-forward-outline"></ion-icon></ion-tab-button>
      </ion-item>
      <ion-item>
        <ion-label>Dr. Manzano</ion-label>
        <ion-tab-button tab="chat-p"><ion-icon name="chevron-forward-outline"></ion-icon></ion-tab-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

