<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-title>Chat</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-4">
    <ion-list>
     <ion-item>
        <ion-label>Dr. Alfredo</ion-label>
        <ion-tab-button [href]="generateURL()"><ion-icon name="chevron-forward-outline"></ion-icon></ion-tab-button>
      </ion-item>
      <ion-item>
        <ion-label>Dr. Manzano</ion-label>
        <ion-tab-button [href]="generateURL()"><ion-icon name="chevron-forward-outline"></ion-icon></ion-tab-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

