<ion-tabs color="primary">
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="training">
      <ion-icon name="body"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dieta">
      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Dieta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress">
      <ion-icon name="medal"></ion-icon>
      <ion-label>Progreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
