
<ion-header >
  <ion-toolbar color="primary">
    <div class="container">
      <ion-item color="primary">
        <ion-tab-button style="background-color: #3880ff;"color="primary" class="col-2" href="/training-days"><ion-icon name="chevron-back-outline"></ion-icon></ion-tab-button>
        <ion-title>Cardio</ion-title>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card style="margin-top:0px; ">
    <h3 style="margin-top:40px; margin-left:50px;">Seleccione la modalidad</h3>
    <ion-list style="margin-top: 40px;">
      <ion-item style="width: 100%;">
        <h3>Bicicleta</h3>
        <ion-img style="display: block; margin: auto; width: 400px; height: 150px;" src="../../assets/img/bicycle.png" ></ion-img>
        <ion-checkbox style="" color="primary"></ion-checkbox>
      </ion-item>
      <ion-item style="width: 100%;">
        <h3>Nadar</h3>
        <ion-img style="display: block; margin: auto; width: 400px; height: 200px;" src="../../assets/img/swimming.png" ></ion-img>
        <ion-checkbox style="" color="primary"></ion-checkbox>
      </ion-item>
      <ion-item style="width: 100%;">
        <h3>Correr</h3>
        <ion-img style="display: block; margin: auto; width: 400px; height: 200px;" src="../../assets/img/runnning.png" ></ion-img>
        <ion-checkbox style="" color="primary"></ion-checkbox>
      </ion-item>
    </ion-list>
    
    <div style="display: block; margin-left: 110px;">
      <ion-button style="width: 40%;" href="/training-days">Volver</ion-button>
      <ion-button style="width: 40%;" href="/training-fitness">Siguiente</ion-button>  
    </div>
    
  </ion-card>

</ion-content>

<style>

</style>
