
<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-tab-button class="col-2" tab="chat"><ion-icon name="chevron-back-outline"></ion-icon></ion-tab-button>
      <ion-title>
        
        Chat
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-item-group class="mt-4">
    <ion-item>
      <ion-label>Dr.Antonio</ion-label>
    </ion-item>
    <br>
    <br><br>
    <ion-img src="./assets/images/Captura de pantalla 2022-06-14 190015.png" style="height: 100%"></ion-img>
  </ion-item-group>
  
</ion-content>