<ion-header translucent no-border>
  <ion-toolbar color="primary">
    <ion-item color="primary">
      <ion-tab-button  style="background-color: #3880ff;" class="col-2" tab="home"><ion-icon name="chevron-back-outline"></ion-icon></ion-tab-button>
      <ion-title>Profile</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div class="ion-padding">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/images/images.png" alt="">
        </div>
      </div>
    </div>
      <div class="card mt-3">
          <ion-list>
            <ion-list-header class="card-header">
              <h3>Mis datos</h3><br>
            </ion-list-header>
            <ion-item>
              <h4 class="playername">Nombre: Luis Martínez</h4>
            </ion-item>
            <ion-item>
              <h4 class="country">Edad: 25 años</h4>
            </ion-item>
            <ion-item>
              <h4 class="ranking">Medallas: <ion-chip>
                <ion-label>2</ion-label>
                </ion-chip>
              </h4>
            </ion-item>
            <ion-list-header class="card-header">
              <h3>Datos médicos</h3><br>
            </ion-list-header>
            <ion-item>
              <h4 class="playername">Sexo: Hombre</h4>
            </ion-item>
            <ion-item>
              <h4 class="playername">Estatura: 176cm</h4>
            </ion-item>
            <ion-item>
              <h4 class="country">Peso: 90kg</h4>
            </ion-item>
            <ion-item>
              <h4 class="ranking">Porcentage graso: 32% </h4>
            </ion-item>
          </ion-list>
        </div>

  </div>  
</ion-content>