<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-title>Welcome</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item-group class="mt-5">
      <h2>Crea tu entrenamiento ahora</h2>
      <br>
      <ion-img src="./assets/images/2995d18e-681f-4b7f-9596-b8c1b73fbbbf.png" [routerLink]="['/login']"></ion-img>
      </ion-item-group>
    <ion-item-group class="mt-5">
      <h2>Crea tu dieta</h2>
      <br>
      <ion-img src="./assets/images/e77f991d-5577-4d86-9a52-09c8a05d2b04.png"></ion-img>
    </ion-item-group>
  </div>
</ion-content>

