<ion-header>

  <ion-toolbar>
    <ion-row>
      <ion-icon id="ion-icon" name="arrow-back"></ion-icon>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-title>Musculación</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top:0px; ">
    <h3 style="margin-top:40px; margin-left:50px;">Seleccione la modalidad</h3>
    <ion-list style="margin-top: 40px;">
      <ion-item style="width: 100%;">
        <h3>Fuerza</h3>
        <ion-img style="display: block; margin: auto; width: 400px; height: 250px;" src="../../assets/img/strength.png" ></ion-img>
        <ion-checkbox style="" color="primary"></ion-checkbox>
      </ion-item>
      <ion-item style="width: 100%;">
        <h3>Hipertrofia</h3>
        <ion-img style="display: block; margin: auto; width: 400px; height: 200px;" src="../../assets/img/hypertrophy.png" ></ion-img>
        <ion-checkbox style="" color="primary"></ion-checkbox>
      </ion-item>
      <ion-item style="width: 100%;">
        <h3>Definición</h3>
        <ion-img style="display: block; margin: auto; width: 400px; height: 200px;" src="../../assets/img/definition.png" ></ion-img>
        <ion-checkbox style="" color="primary"></ion-checkbox>
      </ion-item>
    </ion-list>
    
    <div style="display: block; margin-left: 110px;">
      <ion-button style="width: 40%;" href="/training-cardio">Volver</ion-button>
      <ion-button style="width: 40%;" href="/training-weeks">Siguiente</ion-button>  
    </div>
    
  </ion-card>

</ion-content>

<style>

</style>
